* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
h1 {
    display: block;
    font-size: 2em;
    margin: 17.42px 0;
    font-weight: bold;
}
#notice{
  color: green;
}
#error_explanation{
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
.field, .actions {
  margin-bottom: 10px;
}
div {
  display: block;
}
h2 {
  margin:16.185px 0;
  display: block;
  font-size: 1.5em;
  font-weight: bold;

}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
th {
  padding-bottom: 5px;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  border-color: inherit;
}
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
