
h1 {
    display: block;
    font-size: 2em;
    margin: 17.42px 0;
    font-weight: bold;
}
P {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
